<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/myapp/doctor_signup_post/" enctype="multipart/form-data">
    {% csrf_token %}
<table width="200" border="1">
  <tr>
    <td>name</td>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
  </tr>
  <tr>
    <td>email</td>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <td>phone number</td>
    <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" /></td>
  </tr>
  <tr>
    <td><label for="textfield3"></label>
      place
      <label for="textfield4"></label></td>
    <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
    <td>pin</td>
    <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" /></td>
  </tr>
  <tr>
    <td>photo</td>
    <td><label for="textfield6"></label>
      <input type="file" name="textfield6" id="textfield6" /></td>
  </tr>
  <tr>
    <td>qualification</td>
    <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" /></td>
  </tr>
  <tr>
    <td>proof</td>
    <td><label for="textfield8"></label>
      <input type="file" name="textfield8" id="textfield8" /></td>
  </tr>
  <tr>
    <td>post</td>
    <td><label for="textfield9"></label>
      <input type="text" name="textfield9" id="textfield9" /></td>
  </tr>
    <tr>
    <td>password</td>
    <td><label for="textfield9"></label>
      <input type="text" name="textfield10" id="textfield9" /></td>
  </tr>
    <tr>
    <td>confirm password</td>
    <td><label for="textfield9"></label>
      <input type="text" name="textfield11" id="textfield9" /></td>
  </tr>

  <tr align="center">
    <td colspan="2"><input type="submit" name="button" id="button" value="Submit" /></td>
  </tr>
</table>
<p>&nbsp;</p>

</form>
</body>
</html>
